TOKEN='FIO BANK TOKEN'
GMAIL_USENAME='GMAIL USERNAME'
GMAIL_PASSWORD='GMAIL APPLICATION PASSWORD'
DATABASE_URL='SEQUEL URL TO CONNECT TO DB'
START_DATE='YYYY-MM-DD' #The date to from where the transactions should be tracked
